body {
  background: #344C33;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

@media {
  img {
    width: auto; /* for ie 8 */
  }
}

.marker {
  height: 10px;
  width: 10px;
  position: absolute;
  background: pink;
  z-index: 100;
}

#container {
  margin-left: -8px;
}

.background {
  background-size: cover;
  position: absolute;
  top: 0;
}

#peru {
  background-image: url('assets/pano2/000.png');
  width: 2048px;
  height: 581px;
}

.tree {
  position: absolute;
  z-index: 9;
}

.pine {
  background-image: url('assets/tree/000.png');
  width: 528px;
  height: 992px; 
  top: -450px;
}

.pine-foreground {
  background-image: url('assets/tree/000.png');
  width: 528px;
  height: 992px; 
  top: -450px;
  z-index: 20;
  -webkit-filter: blur(3px);
}

.mushroom {
  position: absolute;
  transform: scale(.75);
  z-index: 12;
  cursor: pointer;
}

.grass {
  position: absolute;
  z-index: 11;
}

.ground {
  display: inline-block;
  position: absolute;
  margin: 0 -5px;
  top: 500px;
  z-index: 10;
}

.ground-grass {
  background-image: url('assets/ground/000.png');
  width: 475px;
  height: 125px;
}

